# environment modules
bin
build
__pycache__
include
lib
lib64
share
models

# misc
midi/midi_files/*
midi/bin
midi/build
midi/__pycache__
midi/test
midi/*.so
midi/*.pkl
*.csv
*.cfg
playground.py
*.pth
*.png
ambience/aft.lsp

#hidden
.*
!/.gitignore
